
.checkable {
    flex-shrink: 0;
    margin-right: 15px;
}
.checkable > CheckIcon,
.checkable > UncheckedIcon {
    max-height: 2em;
}

.item-name {
    width: 100%;
    
}

.item-details {
    overflow-wrap: break-word;
    flex-grow: 1;
    padding-left: 5px;
    padding-bottom: 20px;
    border-bottom: solid 1px grey;
}